@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-primary scroll-smooth;
  }
  
  body {
    @apply min-h-screen antialiased;
  }
  b {
    display: block;
    font-weight: unset;
  }
  s {
    text-decoration: unset;
  }
}

@layer components {
  .container {
    @apply w-full max-w-6xl px-4 mx-auto sm:px-6 lg:px-8;
  }

  .section {
    @apply flex items-center w-full min-h-screen;
  }
}